@font-face {
    font-family: 'Droid Serif';
    font-style: normal;
    font-weight: 400;
    src: local('Droid Serif'), local('DroidSerif'), url(font/0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

@font-face {
    font-family: 'Yanone Kaffeesatz';
    font-style: normal;
    font-weight: 400;
    src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(font/YDAoLskQQ5MOAgvHUQCcLRTHiN2BPBirwIkMLKUspj4.woff) format('woff');
}

body {
    background: #272822;
    color: #f3f3f3;
    font-family: 'Droid Serif';
    font-size: 20px;
}

h1,
h2 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
}

h1 {
    font-size: 4em;
    margin-bottom: 0;
}

h2 {
    font-size: 2em;
    margin: 0 0 5rem 0;
}

h3 {
    text-align: center;
}

.body {
    margin: 0 auto;
    max-width: 600px;
}

pre {
    margin: 5rem 0 5rem 0;
}

a,
a> code {
    color: rgb(249, 38, 114);
    text-decoration: none;
}
