.topconf {
    background: #e33a3f;
    color: white;
    padding-left: 2em !important;
    position: relative;
}

.topconf h1 {
    font-family: 'Myriad Pro';
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0;
}

.topconf h2 {
    font-family: 'Myriad Pro';
    font-size: 1.5em;
    margin-top: 0;
}

.topconf .speakers {
    display: flex;
    margin-top: 8em;
}

.topconf .speaker:not(:first-child) {
    margin-left: 2em;
}

.topconf:after {
    background: white;
    border-top: 2px solid #2f2a2b;
    bottom: 0;
    content: '';
    display: block;
    height: 6em;
    left: 0;
    position: absolute;
    width: 100%;
}

.topconf .logo {
    bottom: 0.5em;
    left: 1.8em;
    position: absolute;
    z-index: 1;
}

.topconf .speakers-last {
    font-family: 'Myriad Pro';
    font-weight: bold;
    margin-top: 4em;
    margin-left: 4em;
}

.topconf .speaker-last {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4em;
}

.topconf .speaker-last div {
    width: 50%;
}
